.confirm#J_modal_confirm.modal
  .modal-dialog.modal-confirm
    h2 您确定预约本产品吗？
    a(href='javascript:;')#J_cancel.pure-button.btn-button-cancel.btn-confirm 取消
    a(href='javascript:;')#J_confirm_sure.pure-button.btn-button-primary.btn-confirm 确定
