- var nav = nav || 'service'
.service-banner
  .contain.service-nav
    .service-nav-tab
      a(href='/service', class={active: nav=='service'}) 投资管理
      a(href='/service/overseas', class={active: nav=='overseas'}) 海外移民/教育