.about
  $about-line-color = #e8e8e8
  $about-text-color = #727a82
  min-width: $container-width
  &-banner
    background: url('/img/about-banner.png') top center no-repeat
    min-height: 320px
  &-desc
  &-investment
  &-culture
    background: $grey-base-bg
  &-wrap
    padding: 30px 0 20px
    clearfix()
    position: relative
  &-desc-img
    float: left
  &-desc-text
    margin-left: 290px
    padding: 10px 60px 0 30px
    font-size: $font-size-middle
    color: $grey-color
    line-height: 30px
  &-jd
  &-protect
    padding-bottom: 40px
    &-text
      width: 640px
      padding: 30px 30px 0 0
      font-size: $font-size-middle
      color: $grey-color
      line-height: 30px
      p
        line-height: 30px
    &-img
      position: absolute
      right: 0
      top: -30px
  &-investment
    padding-bottom: 50px
    &-img
      position: absolute
      top: -30px
      left: 0
    &-title
      margin-bottom: 40px
    &-text
      margin-left: 400px
      padding: 30px 30px 0 0
      font-size: $font-size-middle
      color: $grey-color
      line-height: 30px
      p
        line-height: 30px
  &-protect
    padding-bottom: 60px
    &-text
      width: 740px
  &-culture
    padding-bottom: 60px
    &-title
      padding: 0 0 20px
      border-bottom: 1px solid $about-line-color
      h2
        font-size: $font-size-h3
        font-weight: normal
        border-left: 4px solid $base-color
        padding-left: 30px
        margin: 0
        color: $gray-darker
        line-height: 28px
    &-list
      padding-top: 20px
    &-item
      text-align: center
  &-agreement
    background: $grey-base-bg
    padding: 30px
    color: $gray-darker
    &-wrap
      padding: 40px 40px
      line-height: 28px
      background: $white-color
    &-header
      font-size: $font-size-h4
      line-height: 40px
    &-body
      font-size: $font-size-middle
      line-height: 30px
    h1
      text-align: center
      font-weight: normal
      margin-bottom: 40px
      font-size: $font-size-h1
    h2
      font-weight: normal
      font-size: $font-size-h3
    .title-important
      color: $base-color
    .title-bold
      font-weight: bold
    .title-label
      margin-right: 10px
