//btn
.btn
  $btn-border-lingter-color = #dbc8a2
  &-button
    padding: 6px 30px
  &-button-primary
    background: $base-color
    color: $white-color
    border: 1px solid $base-color
    &:hover
      background: $base-hover-color
  &-button-login
    background: $white-color
    color: $base-color
    border: 1px solid $btn-border-lingter-color
  &-signup
    width: 300px
    line-height: 42px
    padding: 0
    border-radius(4px)
    font-size: $font-size-middle
  &-button-cancel
    background: none
    border: 1px solid #aaaaaa
    &:hover
      background: none