.home
  $more-hoverbg-color = #112231
  &-wrap
    position: relative
  &-about
    padding: 40px 0 50px
    background: $grey-base-bg
    min-height: 550px
    &-title
      margin: 30px 0 0 0
      position: relative
      z-index: 3
    &-img
      position: absolute
      top: -30px
      right: 0
      z-index: 9
    &-line
      width: 616px
      height: 392px
      border: 1px solid $brand-base
    &-text
      width: 702px
      height: 394px
      padding: 36px 230px 30px 40px
      background: $white-color
      position: absolute
      left: 30px
      top: 120px
      font-size: $font-size-middle
      color: $gray-darker
      line-height: 36px
    &-more
      background: $base-color
      color: $white-color
      font-size: $font-size-h6
      text-decoration: none
      display: inline-block
      padding: 0 36px
      line-height: 28px
      &:hover
        background: $base-hover-color
  &-commend
    padding: 52px 0 80px
    &-title
      margin-bottom: 20px
