$fa-font-path = "/styl/lib/Font-Awesome-Stylus/fonts"
/*varialbles styl*/
$font-family-sans-serif = "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Helvetica, Tahoma, Arial, "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", sans-serif
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base ?=           #000
$gray-darker ?=         lighten($gray-base, 13.5%) // #222
$gray-dark ?=           lighten($gray-base, 20%)   // #333
$gray ?=                lighten($gray-base, 33.5%) // #555
$gray-light ?=          lighten($gray-base, 46.7%) // #777
$gray-lighter ?=        lighten($gray-base, 93.5%) // #eee

$brand-base ?=       #223649
$base-color ?=       #b89246
$base-hover-color ?=  #ae883f
$base-gray ?=        #223549
$grey-color-dark    = #333333
$grey-color         = #666666
$grey-color-better = #888888
$grey-color-lighter    = #999999
$brand-warning ?=       #f0ad4e
$brand-danger ?=        #d9534f
$base-red-color = #f94b4c
$brand-success ?=       #5cb85c

//color
$white-color = #ffffff
$white-color-darker = #a7aeb1

//font-size
$font-size-base ?=         14px
$font-size-large ?=        ceil(($font-size-base * 1.25)) // ~18px
$font-size-small$font-size-small ?=        ceil(($font-size-base * 0.85)) // ~12px

$font-size-h1 ?=           floor(($font-size-base * 2.6)) // ~36px
$font-size-h2 ?=           floor(($font-size-base * 2.15)) // ~30px
$font-size-h3 ?=           ceil(($font-size-base * 1.7)) // ~24px
$font-size-h4 ?=           ceil(($font-size-base * 1.25)) // ~18px
$font-size-h5 ?=           $font-size-base
$font-size-h6 ?=           ceil(($font-size-base * 0.85)) // ~12px
$font-size-tiny = 10px
$font-size-middle = 16px
$font-size-huge = 20px
$font-size-bigger = 28px
$font-size-giant = 48px

$container-width = 1100px
$grey-base-bg = #f8f8f8
$product-border-color = #8f9ba4
$base-line-grey-color = #e8e8e8
