extend base

block content
  .about
    .about-banner
    .about-desc
      .contain.about-wrap
        .about-desc-img: img(src='/img/about-desc-img.png')
        .about-desc-text
          .about-desc-title: img(src='/img/about-desc-title.png')
          p 东家财富是京东金融旗下高端财富管理服务平台，专注于为高端客户提供优质资产和科学的进行资产配置服务。
          p 依托京东金融集团强大的资源整合能力以及大数据的优势、专业风险控制能力，对用户资产的收益、风险、流动性进行科学管理，满足高端人群的个性化财富管理需求，帮助客户实现财富持续保值和增值。
    .about-jd
      .contain.about-wrap
        .about-jd-text
          .about-desc-title: img(src='/img/about-jd-title.png')
          p 京东金融集团，于2013年10月开始独立运营，已建立起七大业务板块——供应链金融、消费金融、众筹、财富管理、支付、保险、证券，实现了公司金融和消费者金融的双重布局。在业务方向上，京东金融坚持移动化，并深化和拓展场景，加快走出京东。京东金融集团通过领先的大数据应用，叠加机器学习、人工智能、区块链等新兴科技，建立起独有的大数据体系、技术体系、风控体系、支付体系、投研体系、投顾体系等一整套金融底层基础设施。公司通过将技术、产品、用户、资金端、资产端开放给银行、证券、保险等各类金融机构及其他非金融机构，提供菜单式、嵌入式服务，为其赋能，这是一个“金融+互联网”的全新模式。
          p 今天已经有数百万的用户通过京东金融的财富平台进行投资理财。作为京东金融的子公司，东家财富专注于高端客户，致力成为专业、可信赖、优质服务的高端财富管理领先平台。
        .about-jd-img: img(src='/img/about-jd-img.png')
    .about-investment
      .contain.about-wrap
        .about-investment-img: img(src='/img/about-invest-img.png')
        .about-investment-text
          .about-investment-title: img(src='/img/about-invest-title.png')
          p 京东金融策略研究团队由具备资深投研经验、海内外学术背景的精英组成。团队全部来自私募资管、公募基金、券商、银行及养老金。核心团队成员中，80%拥有硕博学历，人均从业经验达8年以上。
          p 京东金融策略研究团队秉承客观、严谨的研究理念，借助京东金融“金融科技”的优势，形成以数据为根基的系统化研究框架。研究领域覆盖大类资产配置、市场策略、大宗商品及基金筛选等。在互联网大数据的平台优势基础上，通过实时把控宏观方向、清晰梳理市场潜在逻辑，为客户提供精准、独到的专业化研究服务。
    .about-protect
      .contain.about-wrap
        .about-protect-text
          .about-protect-title: img(src='/img/about-protect-title.png')
          p 财富管理是个长期的过程，东家财富针对符合高净值人群的资产配置特征，构建专业的投资和风控团队。在资产选择上，设置多重风控关卡，引入多维度投资决策委员会，主办人员实行终身负责制。在严控风险的前提下，力争给客户提供不断优化的资产配置方案，创造更加安全的投资环境，为客户的财富增值保驾护航。
        .about-protect-img: img(src='/img/about-protect-img.png')
    .about-culture
      .contain.about-wrap
        .about-culture-title
          h2 东家文化
        .about-culture-list.pure-g
          .about-culture-item.pure-u-1-2
            img(src='/img/about-idea.png')
          .about-culture-item.pure-u-1-2
            img(src='/img/about-avlues.png')
